<div class="row">
  <div class="col-lg-4">
    <div class="card bg-info text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">3</h1>
            <h6 class="text-white">Estudiantes</h6>
            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver Más</button>
          </div>
          <div class="stats-icon text-right ml-auto"><i class="fas fa-home display-5 op-3 text-dark"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">6</h1>
            <h6 class="text-white">Profesores</h6>
            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver Más</button>
          </div>
          <div class="stats-icon text-right ml-auto"><i class="fas fa-user-clock display-5 op-3 text-dark"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-success text-white">
      <div class="card-body">
        <div class="d-flex">
          <div class="stats">
            <h1 class="text-white">9062+</h1>
            <h6 class="text-white">Materias</h6>
            <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver Más</button>
          </div>
          <div class="stats-icon text-right ml-auto"><i class="fas fa-user-slash display-5 op-3 text-dark"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
